DATABASE_URL="postgresql://marketplace:marketplace@localhost:5432/marketplace?schema=public"
JWT_SECRET="replace-with-at-least-32-characters"
JWT_EXPIRES_IN="1d"
PORT=3000
REDIS_URL="redis://localhost:6379"
